* {
    box-sizing: border-box;
}

.menu, .menu li {
    display: inline;
}

table {
    border: window;
    border-style: solid;
    
}

td{
    border: red;
    border-style: ridge;
    background-color: orange;
   
        
    
}

body{
    background-image: url("/LibrairieFusion-v1.0/image/go.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

}

