* {
    box-sizing: border-box;
}

.menu, .menu li, li a:hover, li a{
    display: inline;
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px groove bisque;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px outset blanchedalmond;
}

.toto{

}
tr:nth-child(even){background-color: #f2f2f2}
body{
    /*  background-image: url("/LibrairieFusion-v1.0/image/book-background-39.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:  appworkspace;
    color: graytext;
    font-family: sans-serif;

}
#autocomplete-loading {

}

